# Python Keywords name can't be variable

In [1]:
False =99 #keyword can't be variable name

SyntaxError: cannot assign to False (1235475831.py, line 1)

In [2]:
global = 88

SyntaxError: invalid syntax (3421561296.py, line 1)

# Python keywords are case sensitive

case sensative :upper case ra lowercase farak bujxa --case sensitive

* case sensitive language: python case sensitive language
* case insensitive language : SQL

In [3]:
false = 80

In [4]:
false

80

In [5]:
Global = 80

In [6]:
Global

80

We can't use special symbols like !,@,#,$,% etc in our identifier

In [7]:
@name = "Bikram"

SyntaxError: invalid syntax (2652126779.py, line 1)

In [8]:
$name ="kshitiz"

SyntaxError: invalid syntax (15262070.py, line 1)

# Variable name convention

In [9]:
myObject = 0

In [10]:
name9 = "Bikram"

In [11]:
9name = "Bikram"

SyntaxError: invalid syntax (2944672781.py, line 1)

In [13]:
first name ="Bikram" # space are not allowed in variable

SyntaxError: invalid syntax (3205701992.py, line 1)

In [14]:
first-name="Bikram" #"-"are not allowed

SyntaxError: cannot assign to operator (348260132.py, line 1)

In [15]:
first_name ="Bikram"

In [16]:
first_name

'Bikram'

In [17]:
first_1name ="Bikram"

# Python is case Sensitive language

In [18]:
Name ="Bikram"
name ="Ram"

In [19]:
print(f"Name is {Name}")
print(f"name is {name}")

Name is Bikram
name is Ram

In [23]:
print("Name is {}".format(Name))
print ("name is {}".format(name))

Name is Bikram
name is Ram

In [25]:
a= 5
b= 7
print("a is {} and b is {}".format(a,b))

a is 5 and b is 7

# How to update  variable value

In [28]:
a = 20
print(f"Before a = {a}")
a= 40
print(f"After a = {a}")

Before a = 20
After a = 40

In [30]:
a = 60.5
print(f"Before a = {a}")
a = a + 0.5
print(f"After a = {a}")

Before a = 60.5
After a = 61.0

# Assigning multiple values to multiple variables

In [31]:
a = 2  #integer
b = 0.6 #float
c = 0.5 + 3j #complex

In [32]:
a, b, c = 2, 0.6 ,0.5 + 3j

In [33]:
a

2

In [34]:
b

0.6

In [35]:
c

(0.5+3j)

In [36]:
a, b = 2, 0.6 ,0.5 + 3j

ValueError: too many values to unpack (expected 2)

In [37]:
a, b, c = 2, 0.6

ValueError: not enough values to unpack (expected 3, got 2)

In [38]:
sec = 42 * 60 + 42

In [39]:
sec

2562

# Type Checking

In [41]:
a, b, c = 2, 0.6 ,0.5 + 3j

In [42]:
type(a)

int

In [43]:
type(b)

float

In [44]:
type(c)

complex

# Type validation

In [46]:
isinstance(a,int)

True

In [47]:
isinstance(a,float)

False

In [48]:
isinstance(c,complex)

True

In [49]:
isinstance(c,float)

False

In [50]:
print(type(a))

<class 'int'>