In [1]:
import sqlite3

# Creating and connecting to database

In [2]:
con=sqlite3.connect ('std.db')

# creating table in sql

```sql
create table table_name(
roll_no int not null,
name varchar(50),
gender varchar(10)
)

```

In [3]:
create_table_query="""
create table student(
roll_no int not null,
name varchar(50),
gender varchar(8))

"""

In [5]:
cur=con.cursor()    # cursor executes sql query

In [7]:
cur.execute(create_table_query)

# Insert data into table/insert statement in SQl

```sql
Insert into table_name(col1,col2,....coln)
values
(val1,val2....valn)
```

In [9]:
insert_query="""
insert into student(roll_no,name,gender)
values
(1,'Kshitiz regmi','M'),
(2,'Bikram Rokaya','M'),
(3,'Sudip Sapkota','M')
"""

In [10]:
cur.execute(insert_query)

# Read data in Sql/select Statement
```sql
Select *from student
```

In [11]:
read_query="""
Select * from Student"""

In [13]:
cur.execute(read_query)

In [14]:
cur.execute(read_query).fetchall()

[(1, 'Kshitiz regmi', 'M'),
 (2, 'Bikram Rokaya', 'M'),
 (3, 'Sudip Sapkota', 'M')]

In [15]:
cur.execute("select name from student").fetchall()

[('Kshitiz regmi',), ('Bikram Rokaya',), ('Sudip Sapkota',)]

In [16]:
cur.execute("select roll_no from student").fetchall()

[(1,), (2,), (3,)]

In [17]:
cur.execute("Select name from student where roll_no=1").fetchall()

[('Kshitiz regmi',)]

In [22]:
cur.execute("Select roll_no from student where name='Sudip Sapkota'" ).fetchall()

[(3,)]

# update
```sql
update table_name
set col = val
where
condition
```

In [23]:
update_name="""
update student
set name='Kshitiz Regmi'
where 
roll_no=1
"""

In [24]:
cur.execute(update_name)

In [25]:
cur.execute("Select * from Student").fetchall()

[(1, 'Kshitiz Regmi', 'M'),
 (2, 'Bikram Rokaya', 'M'),
 (3, 'Sudip Sapkota', 'M')]

# Delete statement in sql
```sql
delete from table_name
where
condition
```

In [29]:
cur.execute("delete from student where roll_no=1")

In [30]:
cur.execute("select * from Student").fetchall()

[(2, 'Bikram Rokaya', 'M'), (3, 'Sudip Sapkota', 'M')]

# insert

In [33]:
cur.execute("insert into student(roll_no,name,gender) values(1,'Anisha Shrestha','F')")

In [34]:
cur.execute("select * from student").fetchall()

[(2, 'Bikram Rokaya', 'M'),
 (3, 'Sudip Sapkota', 'M'),
 (1, 'Anisha Shrestha', 'F')]

In [37]:
cur.execute("Select * from student order by name ").fetchall()

[(1, 'Anisha Shrestha', 'F'),
 (2, 'Bikram Rokaya', 'M'),
 (3, 'Sudip Sapkota', 'M')]